@using BaseClasses.Extensions
@using Bussiness
@using WebAdmin.Models
@model WebAdmin.Models.ConfigRecordViewModel
@{
	ViewBag.CurrentMenuLabel = new LeftMenuModel
	{
		Label = "系统",
		Children = new List<LeftMenuModel>
		{
			new LeftMenuModel
			{
				Label = "系统配置",
				Url = "ConfigRecord"
			}
		}
	};
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<form id="searchForm">
					<input name="text" style="height: 40px; padding: 10px; margin: 30px 30px 10px 50px;" value="@Model.Text" placeholder="请输入名称"/>
					@*					<input name="pagesize" value="2" type="hidden"/>*@
					<button class="btn btn-warning btn-fill btn-wd" type="submit">搜索</button>
				</form>
				<button class="btn btn-warning btn-fill btn-wd" type="button" id="update">更新</button>
				<table class="table">
					<thead>
					<tr>
@*						<td class="text-center">ID</td>*@
@*						<td class="text-center">目录</td>*@
@*						<td class="text-center">名称</td>*@
@*						<td class="text-center">显示名称</td>*@
						<td class="text-center">描述</td>
@*						<td class="text-center">类型码,用于输入控制</td>*@
						<td class="text-center">值</td>
						<td class="td-actions text-center">操作</td>
					</tr>
					</thead>
					<tbody>
					@foreach (var configRecord in Model.ConfigRecords.List)
					{
						<tr>
							@*							<td class="text-center">@configRecord.Id</td>*@
							@*							<td class="text-center">@configRecord.Catalog</td>*@
							@*							<td class="text-center">@configRecord.Name</td>*@
							@*							<td class="text-center">@configRecord.FriendlyName</td>*@
							<td class="text-center">@configRecord.Description</td>
							@*							<td class="text-center">@configRecord.ValueTypeCode</td>*@
							@if (configRecord.Name == "BackEndUserName" || configRecord.Name == "BackEndPassword")
							{
								<td class="text-center">*****</td>
							}
							else
							{
								<td class="text-center">@configRecord.Value</td>
							}
							<td class="text-center"><a class="item_edit" href="#" data-toggle="modal" data-target="#myModal" data-id="@configRecord.Id" data-desc="@configRecord.Description" data-value="@configRecord.Value">编辑</a></td>
						</tr>
					}
					</tbody>
					<tfoot>
					<tr>
						<th colspan="8">
							@Html.PageRender(Model.PageIndex, Model.PageSize, Model.ConfigRecords.Count)
						</th>
					</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">
					编辑
				</h4>
			</div>
			<div class="modal-body">
				<form id="editform">
					<input type="hidden" name="Id" id="id" />
					<div class="form-group">
						<label for="desc">名称</label>
						<input type="text" class="form-control" id="desc" placeholder="请输入名称" readonly="readonly">
					</div>
					<div class="form-group">
						<label for="value">值</label>
						<input type="text" class="form-control" id="value" placeholder="值" name="value">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary">提交更改</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts
{
	<script type="text/javascript">
		$('#myModal').on('show.bs.modal',
			function(event) {
				var btnThis = $(event.relatedTarget); //触发事件的按钮  
				var modal = $(this); //当前模态框  
				modal.find('#desc').val(btnThis.data('desc'));
				modal.find('#value').val(btnThis.data('value'));
				modal.find('#id').val(btnThis.data('id'));
			});

		$(".btn-primary").on("click",
			function() {
				$rpc("/home/configRecord",
					$("#editform").serializeArray(),
					function() {
						$('#myModal').modal('hide');
						window.location.reload();
					},
					function(data) {
						swal(data.Message);
					});
			});
		$("#update").on("click",
			function () {
				$rpc("/home/Synchronize",
					function () {
						window.location.reload();
					},
					function (data) {
						swal(data.Message);
					});
			});
	</script>
}
