@using BaseClasses.Extensions
@using WebAdmin.Models
@model WebAdmin.Models.AdminModel.TransferBillViewModel

@{
	ViewBag.CurrentMenuLabel = new LeftMenuModel
	{
		Label = "用户",
		Children = new List<LeftMenuModel>
{
	new LeftMenuModel
	{
		Label = "用户转账管理",
		Url = "TransferBill"
	}
}
	};
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<form id="searchForm">
					<input name="text" style="height: 40px; padding: 10px; margin: 30px 30px 10px 50px;" value="@Model.Text" placeholder="请输入名称" />
					<button class="btn btn-warning btn-fill btn-wd" type="submit">搜索</button>
					<button class="btn btn-warning btn-fill btn-wd reward" type="button">求购奖励结算</button>
				</form>
				<table class="table">
					<thead>
						<tr>
							<td class="text-center">编号</td>
							<td class="text-center">转账人</td>
							<td class="text-center">收款人</td>
							<td class="text-center">时间</td>
							<td class="text-center">金额</td>
							<td class="text-center">类型</td>
							<td class="text-center">状态</td>
							<td class="text-center">操作</td>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.TransferBills.List)
						{
							<tr>
								<td class="text-center">@item.Id</td>
								<td class="text-center">@item.FromMemberUserName</td>
								<td class="text-center">@item.ToMemberUserName</td>
								<td class="text-center">@item.CreatedAt</td>
								<td class="text-center">@item.Amount</td>
								<td class="text-center">@item.TransferBillType.GetDescription()</td>
								<td class="text-center">@item.Status.GetDescription()</td>
								<td><a href="javascript:void(0)">撤销</a></td>
							</tr>
						}
					</tbody>
					<tfoot>
						<tr>
							<th colspan="8">
								@Html.PageRender(Model.PageIndex, Model.PageSize, Model.TransferBills.Count)
							</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script type="text/javascript">

		$(".reward").on("click",
			function() {
				$rpc("/home/MemebrToBuyReward",
					{},
					function () {
						swal("结算成功！");
					},
					function(data) {
						swal(data.Message);
					});
			});

	</script>
}